<!doctype html>
<html ng-app="foodApp">
<head>

  <!-- ****** faviconit.com favicons ****** -->
  <link rel="shortcut icon" href="/images/icon/favicon.ico">
  <link rel="icon" sizes="16x16 32x32 64x64" href="/images/icon/favicon.ico">
  <link rel="icon" type="image/png" sizes="196x196" href="/images/icon/favicon-192.png">
  <link rel="icon" type="image/png" sizes="160x160" href="/images/icon/favicon-160.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/images/icon/favicon-96.png">
  <link rel="icon" type="image/png" sizes="64x64" href="/images/icon/favicon-64.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/icon/favicon-32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/icon/favicon-16.png">
  <link rel="apple-touch-icon" href="/images/icon/favicon-57.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/images/icon/favicon-114.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/images/icon/favicon-72.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/images/icon/favicon-144.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/images/icon/favicon-60.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/images/icon/favicon-120.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/images/icon/favicon-76.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/images/icon/favicon-152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/icon/favicon-180.png">
  <meta name="msapplication-TileColor" content="#FFFFFF">
  <meta name="msapplication-TileImage" content="/images/icon/favicon-144.png">
  <meta name="msapplication-config" content="/browserconfig.xml">
  <!-- ****** faviconit.com favicons ****** -->

  <title>Foods</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-touch.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-resource.min.js"></script>
  <link href="/styles/normalize.css" rel="stylesheet" type="text/css">
  <link href="/styles/skeleton.css" rel="stylesheet" type="text/css">
  <link href="/styles/base.css" rel="stylesheet" type="text/css">
  <script src="/scripts/ctrl/foodItem.js"></script>
</head>

<body ng-controller="foodItemCtrl">

  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <h1>Foods</h1>
      </div>
    </div>
    <div class="row">
      <div class="two columns"><a href="/index.html">Menu</a></div>
      <div class="two columns center"><a href="/foodItems.html">Foods</a></div>
      <div class="two columns right"><a href="/recipes.html">Recipes</a></div>
    </div>

    <div id="content">

      <div id="foodItems" ng-show="!showEditor">
        <p>These are the basic food and beverage items that you get at the grocery store, stored by serving size.</p>

        <div class="row">
          <div class="six columns">
            <input type="text" ng-model="search" class="u-full-width u-max-full-width"/>
          </div>
          <div class="three columns">
            <button ng-click="getFoodItemCount()">Search</button>
          </div>
          <div class="three columns right">
            <button ng-click="newItem()" class="button-primary">Add Food</button>
          </div>
        </div>

        <p ng-show="pages.length > 1">
          Pages:
          <span ng-repeat="page in pages">
            <a href="#" ng-click="getFoodItems($index+1)" ng-show="$first">&lt;&lt;</a>
            <span ng-show="($index + 1) < (navigation.page + 10) && ($index + 1) > (navigation.page - 10) ">
              <a href="#" ng-click="getFoodItems($index+1)" ng-show="($index+1) !== navigation.page">{{page}}</a>
              <span ng-show="($index+1) === navigation.page">{{page}}</span>
            </span>
            <a href="#" ng-click="getFoodItems($index+1)" ng-show="$last">&gt;&gt;</a>
          </span>
        </p>

        <table class="u-full-width">
          <thead>
            <tr>
              <th></th>
              <!-- <th>qty</th> -->
              <th class="center">cal</th>
              <th class="center">carb</th>
              <th class="center">pro</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="foodItem in foodItems">
              <td class="u-full-width"><a href="#" ng-click="loadItem(foodItem._id)">{{foodItem.name}}</a></td>
              <!-- <td><span ng-show="foodItem.qty > 0">{{foodItem.qty}}</span> <span ng-show="foodItem.fraction.numerator > 0">{{foodItem.fraction.numerator}}/{{foodItem.fraction.denominator}}</span> {{foodItem.unit}}</td> -->
              <td class="center">{{foodItem.nutrition.calories.total}}</td>
              <td class="center">{{foodItem.nutrition.carbohydrates.total}}</td>
              <td class="center">{{foodItem.nutrition.protein}}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div id="foodItem" ng-show="showEditor">
        <form>
          <input type="hidden" ng-model="foodItem._id"/>
          <div class="row">
            <div class="seven columns">
              <label for="name">Name</label>
              <input type="text" id="name" ng-model="foodItem.name" class="u-full-width u-max-full-width"/>
            </div>
            <div class="five columns">
              <label for="qty">Qty</label>
              <input type="number" id="qty" ng-model="foodItem.qty" min="0" max="9999"/>
              <select ng-model="foodItem.fraction.numerator" id="numerator" convert-to-number>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>/<select ng-model="foodItem.fraction.denominator" id="denominator" convert-to-number>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="8">8</option>
              </select>
              <select ng-model="foodItem.unit" id="unit">
                <option value=""></option>
                <option value="tsp">tsp</option>
                <option value="tbs">tbs</option>
                <option value="cup">cup</option>
                <option value="oz">oz</option>
                <option value="lb">lb</option>
                <option value="fl">fl oz</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="six columns">
              <h2>Nutrition Facts</h2>
            </div>
          </div>
          <div class="row">
            <div class="three columns">
              <label for="totalCalories">Calories</label>
              <input type="number" name="totalCalories" id="totalCalories" min="1" max="9999" ng-model="foodItem.nutrition.calories.total"/><br>
            </div>
            <div class="three columns">
              <label for="fromFat">Calories from Fat</label>
              <input type="number" name="fromFat" id="fromFat" min="1" max="9999" ng-model="foodItem.nutrition.calories.fromFat"/>
            </div>
          </div>

          <label for="totalfat">Total Fat</label>
          <input type="number" id="totalfat" min="1" max="9999" ng-model="foodItem.nutrition.fat.total"/>g<br>
          <div class="row">
            <div class="three columns">
              <label for="saturated">Saturated Fat</label>
              <input type="number" id="saturated" min="1" max="9999" ng-model="foodItem.nutrition.fat.saturated"/>g<br>
            </div>
            <div class="three columns">
              <label for="trans">Trans Fat</label>
              <input type="number" id="trans" min="1" max="9999" ng-model="foodItem.nutrition.fat.trans"/>g<br>
            </div>
            <div class="three columns">
              <label for="polyunsat">Polyunsat Fat</label>
              <input type="number" id="polyunsat" min="1" max="9999" ng-model="foodItem.nutrition.fat.polyunsat"/>g<br>
            </div>
            <div class="three columns">
              <label for="monounsat">Monounsat Fat</label>
              <input type="number" id="monounsat" min="1" max="9999" ng-model="foodItem.nutrition.fat.monounsat"/>g
            </div>
          </div>

          <label for="cholesterol">Cholesterol</label>
          <input type="number" id="cholesterol" min="1" max="9999" ng-model="foodItem.nutrition.cholesterol"/>mg<br>
          <label for="sodium">Sodium</label>
          <input type="number" id="sodium" min="1" max="9999" ng-model="foodItem.nutrition.sodium"/>mg<br>
          <label for="potassium">Potassium</label>
          <input type="number" id="potassium" min="1" max="9999" ng-model="foodItem.nutrition.potassium"/>mg<br>

          <div class="row">
            <div class="three columns">
              <label for="totalCarb">Total Carbs</label>
              <input type="number" id="totalCarb" min="1" max="9999" ng-model="foodItem.nutrition.carbohydrates.total"/>g<br>
            </div>
            <div class="three columns">
              <label for="fiber">Dietary Fiber</label>
              <input type="number" id="fiber" min="1" max="9999" ng-model="foodItem.nutrition.carbohydrates.fiber"/>g
            </div>
            <div class="three columns">
              <label for="sugar">Sugars</label>
              <input type="number" id="sugar" min="1" max="9999" ng-model="foodItem.nutrition.carbohydrates.sugar"/>g<br>
            </div>
          </div>

          <label for="protein">Protein</label>
          <input type="number" id="protein" min="1" max="9999" ng-model="foodItem.nutrition.protein"/>g<br>

          <div class="row">
            <div class="three columns">
              <label for="a">Vitamin A</label>
              <input type="number" id="a" min="1" max="9999" ng-model="foodItem.nutrition.vitamins.a"/>%<br>
            </div>
            <div class="three columns">
              <label for="c">Vitamin C</label>
              <input type="number" id="c" min="1" max="9999" ng-model="foodItem.nutrition.vitamins.c"/>%<br>
            </div>
            <div class="three columns">
              <label for="d">Vitamin D</label>
              <input type="number" id="d" min="1" max="9999" ng-model="foodItem.nutrition.vitamins.d"/>%<br>
            </div>
            <div class="three columns">
              <label for="e">Vitamin E</label>
              <input type="number" id="e" min="1" max="9999" ng-model="foodItem.nutrition.vitamins.e"/>%<br>
            </div>
          </div>
          <div class="row">
            <div class="three columns">
              <label for="calcium">Calcium</label>
              <input type="number" id="calcium" min="1" max="9999" ng-model="foodItem.nutrition.vitamins.calcium"/>%<br>
            </div>
            <div class="three columns">
              <label for="iron">Iron</label>
              <input type="number" id="iron" min="1" max="9999" ng-model="foodItem.nutrition.vitamins.iron"/>%<br>
            </div>
          </div>

          <br>
          <button type="submit" ng-click="saveFoodItem(foodItem)" class="button-primary" ng-show="!foodItem.source">Save</button>
          <button type="button" ng-click="showEditor = !showEditor">Cancel</button>
          <button href="#" ng-click="removeItem(foodItem._id)" ng-show="!foodItem.source">Delete</button>
        </form>
      </div>

    </div>
  </div>
</body>
</html>
