body {
  background-color: #efefef;
}

#settingsCog {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 6px;
  right: 6px;
  z-index: 155;
  background: #CCC;
  -webkit-mask: url(/images/cog.svg) center / contain no-repeat;
}

#content {
  padding:20px 0px;
}

.section {
  padding: 5px 20px 5px 20px;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.two {
  width: 33%;
}

.three {
  width: 50%;
}

.four {
  width: 50%;
}

.six {
  width: 100%;
}

button, .button {
  background-color: #fff;
}
